#scrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font-size: 18px; /* Increase font size */
}

// Forms
#bidForm div .form-control, #createListing div .form-control {
    border: none;
    border-radius: 0;
    padding: 0;
}

#bidForm div .input-container, #createListing div .input-container {
  border-bottom: 3px solid #082645;
}

@media screen and (max-width: 480px){
    #scrollBtn{
      display: none;
    }
}