#scrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font-size: 18px; /* Increase font size */
}

// Forms
#bidForm div .form-control, #createListing div .form-control, #editListing div .form-control  {
    border: none;
    border-radius: 0;
    padding: 0;
}

#bidForm div .input-container, #createListing div .input-container, #editListing div .input-container {
  border-bottom: 3px solid #082645;
}

#listings {
  min-height: 100vh;
}

.image-container {
  height: 250px; 
  width: 100%;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


// Custom modal for gallery images
.galleryModal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.gm {
  margin: auto auto;
}

.modalImage{
  background-color: #62748C;
  padding: 10px;
  max-width: 340px;
  max-height: 340px;
}