$primary: #CFE8F9;
$body-bg: #CFE8F9;
$body-color:#082645;
$navbar-light-color: #CFE8F9;
$input-group-addon-bg: #CFE8F9;
$input-border-color: #082645;

$input-focus-border-color: #082645;
$input-focus-color:#082645;
$input-focus-box-shadow: #082645;