@import "../scss/partials/profilePage";
@import "../scss/partials/body";
@import "../scss/partials/variables";
@import "../scss/partials/auth";
@import "../scss/partials/footer";
@import "../scss/partials/header";


//import functions & variables
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "dark-blue": #082645,
    "light-blue": #CFE8F9,
    "orange": #FF9D00, 
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.container {
    max-width: 1000px;
}

.listings {
    max-width: 300px;
}

.card-image {
    max-height: 300px; 
    max-width: 300px;
}